@charset"utf-8";

/*全体編集*/
body{
    margin:0;
    padding:0;
    background-color:#fff;
}




/*ヘッダー編集*/
#header{
    /* background-color: white; */
    width: 100%;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    /* display: flex; */
}
/* 説明文 */
.explanation{
  text-align: center;
}

/* タイトル編集 */
.example {
  position: relative;
  }

.example p {/*pタグを画像の左側に*/
  position: absolute;
  top: 45%;
  left: 20%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  color: white;/*文字色*/
  font-size: 25px;/*文字サイズ*/
  text-align:center;/*pタグ内で更に中央寄せ*/
  font-family: 'Quicksand',sans-serif;
  }

.example p .fa {/*アイコンに対して*/
  display:block;/*前後に改行*/
  padding-bottom:10px;/*文字との隙間*/
  font-size: 0.5em;/*文字の0.5倍のサイズに*/
  color: rgb(255, 255, 255);
  }

.example img {
  width: 100%;
  }


/* ハンバーガーメニュー */
#hamburger .btn-gNav{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#hamburger .btn-gNav span{
  position: absolute;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
  top:0;
}
#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
}
#hamburger .btn-gNav span:nth-child(3) {
  top:20px;
}
#hamburger .btn-gNav.open span:nth-child(1){
  background: #fff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
  top: 6px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #444;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
#gNav.open{
  right: 0px;
}
#gNav .gNav-menu{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*justify-content: center;*/
}
#gNav .gNav-menu li{
  display: block;
  padding : 20px 30px;
}
#gNav .gNav-menu li a{
  color: #ddd;
  text-decoration: none;
}


@media screen and (min-width: 600px){
  .btn-gNav{
    display: none;
  }
  #gNav{
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
  }
  #gNav .gNav-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 50px;
  }
  #gNav .gNav-menu li{
    padding-top: 5px;
  }
}

  


/*タイトル編集*/
.icon{
    width:180px ;
}

/*サンプル画像編集*/
.sample1 img{
width: 100%;

}

/*ボックスの編集*/
#box{
    text-align: center; 
}

#box1{
    display: block;
    width: 100%
}

/*機能画像編集*/
#function img{
    width: 10%;
}

/*フッダー編集*/
#footer {
	width: 100%;
	padding: 3px 0 3px 0;
	background: #1FF;
	font-weight: bold;
	text-align: left;
}

/*パスワードの表示・非表示*/
.input-wrap{
    position: relative;
}
     
.toggle-pass{
    position:absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}

/*上に戻るボタン*/
#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}

.start {
    background:#fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}
