@charset"utf-8";

/*全体編集*/
body{
    margin:0;
    padding:0;
    background-color:#fff;
}




/*ヘッダー編集*/
#header{
    /* background-color: white; */
    width: 100%;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    /* display: flex; */
}
/* 説明文 */
.explanation{
  text-align: center;
}

/* タイトル編集 */
.example {
  position: relative;
  }

.example p {/*pタグを画像の左側に*/
  position: absolute;
  top: 45%;
  left: 20%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  color: white;/*文字色*/
  font-size: 25px;/*文字サイズ*/
  text-align:center;/*pタグ内で更に中央寄せ*/
  font-family: 'Quicksand',sans-serif;
  }

.example p .fa {/*アイコンに対して*/
  display:block;/*前後に改行*/
  padding-bottom:10px;/*文字との隙間*/
  font-size: 0.5em;/*文字の0.5倍のサイズに*/
  color: rgb(255, 255, 255);
  }

.example img {
  width: 100%;
  }

  /* ハンバーガーライン */

/*タイトル編集*/
.icon{
    width:180px ;
}

/*サンプル画像編集*/
.sample1 img{
width: 100%;

}

/*ボックスの編集*/
#box{
    text-align: center; 
}

#box1{
    display: block;
    width: 100%
}

/*機能画像編集*/
#function img{
    width: 10%;
}

/*フッダー編集*/
#footer {
	width: 100%;
	padding: 3px 0 3px 0;
	background-color: rgba(199, 195, 195, 0.5);
	font-weight: bold;
	text-align: left;
}

/*パスワードの表示・非表示*/
.input-wrap{
    position: relative;
}
     
.toggle-pass{
    position:absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}

/*上に戻るボタン*/
#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}

.start {
    background:#fff;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}
