@charset"utf-8";
/* 後で消すこと */


body{
    height: 0%;
    margin: 0;
    text-align: center;   
}

.input-wrap{
    position: relative;
}
     
.toggle-pass{
    position:absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}