@charset"utf-8";
/* 全体背景 */
body{
   background-image: url("../images/sample3.jpg"); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}

#header{
text-align: right;
}

#userimage{
    text-align: center;
    }

#menu{
    text-align: center;
}


#attachment{
    display: inline-block;
    width:350px;
    text-align: center;
    background-color:rgba(238, 245, 245,0.5);
    padding: 10px;
}

#allergies{
    display:flex; 
    flex-wrap:wrap;
}

#allergies > div {
	position: relative;
}

#allergies > div > input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
	background-color: cornsilk;
    width: 50px;
    height: 50px;
    background-size: contain;
}

#allergies > div > .caption {
	font-size: 130%;
	text-align: center;
	padding-top: 80px;
	color: #fff;
}
#allergies > div > .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 14px;
	color: #ffffff;
	top: 30%;
	opacity: 0;
	transition:		all 0.2s ease;
}
#allergies > div:hover .mask {
	opacity: 1;
}

#allergies > div > input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: -22px;
    top:-7px;
    display: inline-block;
    width: 125px;
    height: 70px;
    /* チェック画像 */
    background: url(../images/check.png);
	background-size:contain; 
}


.egg{
    background: url(../images/egg.gif);
    border-radius: 8px;
}
.milk{
    background: url(../images/milk.gif);
    border-radius: 8px;
}
.wheat{
    background: url(../images/wheat.gif);
    border-radius: 8px;
}
.buckwheat{
    background: url(../images/buckwheat.gif);
    border-radius: 8px;
}
.peanut{
    background: url(../images/peanut.gif);
    border-radius: 8px;
}
.shrimp{
    background: url(../images/shrimp.gif);
    border-radius: 8px;
}
.crab{
    background: url(../images/crab.gif);
    border-radius: 8px;
}
.abalone{
    background: url(../images/abalone.gif);
    border-radius: 8px;
}
.cuttlefish{
    background: url(../images/cuttlefish.gif);
    border-radius: 8px;
}
.salmonrow{
    background: url(../images/salmonrow.gif);
    border-radius: 8px;
}
.orange{
    background: url(../images/orange.gif);
    border-radius: 8px;
}
.cashewnut{
    background: url(../images/cashewnut.gif);
    border-radius: 8px;
}
.kiwi{
    background: url(../images/kiwi.gif);
    border-radius: 8px;
}
.beaf{
    background: url(../images/beaf.gif);
    border-radius: 8px;
}
.walnut{
    background: url(../images/walnut.gif);
    border-radius: 8px;
}
.sesame{
    background: url(../images/sesame.gif);
    border-radius: 8px;
}
.salmon{
    background: url(../images/salmon.gif);
    border-radius: 8px;
}
.mackerel{
    background: url(../images/mackerel.gif);
    border-radius: 8px;
}
.soybean{
    background: url(../images/soybean.gif);
    border-radius: 8px;
}
.chicken{
    background: url(../images/chicken.gif);
    border-radius: 8px;
}
.banana{
    background: url(../images/banana.gif);
    border-radius: 8px;
}
.pork{
    background: url(../images/pork.gif);
    border-radius: 8px;
}
.mashroom{
    background: url(../images/mashroom.gif);
    border-radius: 8px;
}
.peach{
    background: url(../images/peach.gif);
    border-radius: 8px;
}
.yam{
    background: url(../images/yam.gif);
    border-radius: 8px;
}
.apple{
    background: url(../images/apple.gif);
    border-radius: 8px;
}
.gelatin{
    background: url(../images/gelatin.gif);
    border-radius: 8px;
}
.almond{
    background: url(../images/almond.gif);
    border-radius: 8px;
}





/*フッダー編集*/
#footer{
    width: 100%;
	padding: 3px 0 3px 0;
	background-color:darkorange;
	font-weight: bold;
	text-align: left;
}
