@charset"utf-8";
/* 全体背景 */
body{
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}

/*ハンバーガーライン編集*/
.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
main {
  height: 100%;
  min-height: 100vh;
  padding: 0 50px;
  background-color: #eee;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.open {
  transform: translateX(-250px);
}
main h1 {
  text-align: center;
  font-weight: 500;
}
main p {
  text-align: center;
}
.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
}

.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: all .5s;
}
.menu-trigger.active span {
  background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  width: 480px;     /* 編集幅 */
  height: 100%;
  padding-top: 100px;
  background-color: rgba(152, 156, 163, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(480px);     /* 編集幅 */
  transition: all .5s;
}
nav.open {
  transform: translateZ(0);
}
nav li {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




/* トップ画像 */
#userimage{
  text-align: center;
}

/* メニュータイトル・検索 */
#menu{
  text-align: center;
}


#attachment{
    display: inline-block;
    width:350px;
    text-align: center;
    background-color:rgba(238, 245, 245,0.5);
    padding: 10px;
}

#allergies{
    display:flex; 
    flex-wrap:wrap;
}

#allergies > div {
	position: relative;
}
/* アイコン画像の設定 */
#allergies > div > input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
	background-color: cornsilk;
    width: 50px;
    height: 50px;
    margin:0px;
    background-size: contain;
}
/* カーソルを合わせたら素材名を出す */
#allergies > div > .caption {
	font-size: 130%;
	text-align: center;
	padding-top: 80px;
	color: #fff;
}
#allergies > div > .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 14px;
	color: #bbff00;
	top: 30%;
	opacity: 0;
	transition:		all 0.2s ease;
}
#allergies > div:hover .mask {
	opacity: 1;
}
/* アイコンをクリックしたらチェックマークを出す */
#allergies > div > input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: -22px;
    top:-7px;
    display: inline-block;
    width: 125px;
    height: 70px;
    /* チェック画像 */
    background: url(../images/check.png);
	background-size:contain; 
}

/* アイコンの画像 */
.egg{
    background: url(../images/egg.gif);
    border-radius: 8px;
}
.milk{
    background: url(../images/milk.gif);
    border-radius: 8px;
}
.wheat{
    background: url(../images/wheat.gif);
    border-radius: 8px;
}
.buckwheat{
    background: url(../images/buckwheat.gif);
    border-radius: 8px;
}
.peanut{
    background: url(../images/peanut.gif);
    border-radius: 8px;
}
.shrimp{
    background: url(../images/shrimp.gif);
    border-radius: 8px;
}
.crab{
    background: url(../images/crab.gif);
    border-radius: 8px;
}
.abalone{
    background: url(../images/abalone.gif);
    border-radius: 8px;
}
.cuttlefish{
    background: url(../images/cuttlefish.gif);
    border-radius: 8px;
}
.salmonrow{
    background: url(../images/salmonrow.gif);
    border-radius: 8px;
}
.orange{
    background: url(../images/orange.gif);
    border-radius: 8px;
}
.cashewnut{
    background: url(../images/cashewnut.gif);
    border-radius: 8px;
}
.kiwi{
    background: url(../images/kiwi.gif);
    border-radius: 8px;
}
.beaf{
    background: url(../images/beaf.gif);
    border-radius: 8px;
}
.walnut{
    background: url(../images/walnut.gif);
    border-radius: 8px;
}
.sesame{
    background: url(../images/sesame.gif);
    border-radius: 8px;
}
.salmon{
    background: url(../images/salmon.gif);
    border-radius: 8px;
}
.mackerel{
    background: url(../images/mackerel.gif);
    border-radius: 8px;
}
.soybean{
    background: url(../images/soybean.gif);
    border-radius: 8px;
}
.chicken{
    background: url(../images/chicken.gif);
    border-radius: 8px;
}
.banana{
    background: url(../images/banana.gif);
    border-radius: 8px;
}
.pork{
    background: url(../images/pork.gif);
    border-radius: 8px;
}
.mashroom{
    background: url(../images/mashroom.gif);
    border-radius: 8px;
}
.peach{
    background: url(../images/peach.gif);
    border-radius: 8px;
}
.yam{
    background: url(../images/yam.gif);
    border-radius: 8px;
}
.apple{
    background: url(../images/apple.gif);
    border-radius: 8px;
}
.gelatin{
    background: url(../images/gelatin.gif);
    border-radius: 8px;
}
.almond{
    background: url(../images/almond.gif);
    border-radius: 8px;
}





/*フッダー編集*/
#footer{
    width: 100%;
	padding: 3px 0 3px 0;
	background-color:darkorange;
	font-weight: bold;
	text-align: left;
}

/* メニュー編集欄 */
#menuinput{
  width: 100%;
  height: 100%;
  display: none;
  position:fixed;
  z-index: 10;
  top:0;
  left:0;
}
#background{
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
.dialog{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color: #bbff00;
  overflow: auto;
  border-radius: 4px;
  width: 350px;
  max-height: 98%;
}

/* メニュー編集：メニュー画像 */
label {
  position: relative;
  background: url(../images/x.jpg);
  cursor: pointer;
  width: 80px;
  height: 80px;
  padding: 15px 30px;
  margin: 0 10px 0 0;
  display: inline-block;
}
label input {
  display: none;
}
